# Dependency directories
node_modules/

# Environment Variables & Secrets (SECURITY)
.env
.env.*
!.env.example

# Production & Build output
dist/
dist-ssr/
*.local

# Firebase & Cloud cache
.firebase/
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
